 
# ==============================================================
# Python
# ==============================================================
__pycache__/
*.pyc
*.pyo

# ==============================================================
# VS Code
# ==============================================================
.vscode/

# ==============================================================
# Jupyter Notebooks
# ==============================================================
.ipynb_checkpoints/


# ==============================================================
# CatBoost logs
# ==============================================================
catboost_info/

# ==============================================================
# Virtual Environment
# ==============================================================
venv*/
env/

# ==============================================================
# OS files
# ==============================================================
.DS_Store
Thumbs.db
desktop.ini